* {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-control {
  margin-top: 10px;
}

.left {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}
.left p {
  text-align: center;
}
.right {
  position: relative;
  float: right;
  width: 50%;
  height: 100%;
  border: 1px solid black;
}
.right p {
  font-weight: bold;
  text-align: left;
  margin: 5% 10% 20%;
  color: black;
}

.moreDetails {
  position: absolute;
  bottom: 5%;
  right: 5%;
}
.header {
  background-color: black;
}
.header h1,
p {
  color: white;
}

.col {
  text-align: center;
}
