button {
  width: 70px;
  height: 40px;
  font-size: 30px;
  background-color: slategrey;
  color: honeydew;
}
.ss {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid red;
}

button:hover {
  background-color: black;
  color: grey;
}
.abc p {
  color: black;
}
.abc {
  display: flex;
  justify-content: space-between;
}
